@charset "utf-8";

.rbody{position:fixed;top:0;left:0;width:100%;height:100%;background: #f7f7f7;}
.swiper-container{width: 80%;margin:0 auto;}
.swiper-slide{width:100%;}
.swiper-container img{width:100%;text-align: center;}
#ViewTimer{position:fixed;left:0;bottom:20px;width:100%;font-size: 8vw;text-align:center;}
.over{display:none;position:fixed;top:0;left:0;width:100%;height: 100%;z-index: 100;background: #d00;color:#fff;text-align: center;font-size: 12vw;padding-top: 20%}
.over h2{display:inline-block;font-size: 4vw;padding:20px;border:2px solid #fff;margin-top: 90px;}


.giftBox{position:relative;}
.giftBox img{width:100%;}
.giftBox a{position:absolute;bottom:30px;left:0;text-align: center;}
.giftBox a img{width:70%;}

.giftCon{width:70%;text-align: center;padding-top: 50px;margin:0 auto;padding-bottom: 50px;}
.giftCon img{width:100%;}
.giftCon p:first-child{font-size: 12px;color:#999;margin-top: 50px;}
.giftCon p{font-size: 12px;color:#999;margin-top: 15px;}